* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.App {
  background-color: rgb(252, 81, 147);
  height: auto;
  max-width: 375px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header > div {
  background-color: rgb(252, 81, 147);
  cursor: pointer;
}

.header > div:hover {
  filter: invert(100%);
}

.header h3 {
  margin-left: 8px;
}

.header p {
  flex: 1;
  text-align: center;
}

.header > svg:nth-of-type(2),
.header > svg:nth-of-type(1) {
  margin-left: 5%;
}

.header svg:nth-of-type(1):hover,
.header svg:nth-of-type(2):hover {
  filter: invert(100%);
  border-color: #fff;
}

.home1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 20vh;
  font-weight: 600;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.home2 {
  background-color: rgb(223, 71, 131);
}

.home2 > p {
  font-size: 0.7rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.home3 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 25vh);
  font-weight: 600;
  align-items: center;
}

.home3 a {
  text-decoration: none;
  height: 100%;
}

.home3 > a > button {
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgb(223, 71, 131);
  color: #fff;
  cursor: pointer;
}

.home3 > a > button > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.5rem;
  width: 50%;
  height: 100%;
}

.home3 > a > button > div:nth-child(1) > img {
  width: 50%;
}

.home3 > a > button > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: end;
  width: 50%;
  height: 100%;
}

.home3 > a:nth-of-type(2) > button,
.home3 > a:nth-of-type(3) > button,
.home3 > a:nth-of-type(6) > button,
.home3 > a:nth-of-type(7) > button {
  background-color: rgb(209, 66, 121);
}

.home4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 10vh);
}

.home5 {
  display: flex;
  height: auto;
  align-items: center;
  padding-right: 1rem;
}

.home5 > h3 {
  padding: 1rem;
  font-weight: 300;
  font-size: 1rem;
  flex-basis: 60%;
}

.home5 > h3 > a {
  text-decoration: none;
  color: #fff;
}

.home5 > h3 > a:hover {
  text-decoration: underline;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  filter: invert(100%);
}

.home5:nth-of-type(even) {
  background-color: rgb(209, 66, 121);
}

.home5 > div {
 flex-basis: 40%;
 padding: 2rem;
 display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.second {
  text-align: end;
}

.first {
  font-weight: 200;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.notfound {
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
}

.home5 > div > img {
  width: 50%;
}
